/* general */
.text{
    font-weight: 800;
}
body{
    background-color: rgba(204, 203, 203, 0.445);
}
/* header */
#title{
color:#BB2D3B;
font-weight: 600;
}
/* spinner */
#spinner{
    display:none;
    position: absolute;
    top:50%;
    right:46%;
}
/* searchBox */
#SearchBox{
    height:38px;
}
.searchDiv{
    width:300px;
}
#error-msg{
    display:none;
   
    font-size: 13px;
}
/* display */
.cards,.col,.card-img-top{
    box-shadow: 10px 10px 100x ;
    border-radius: 40px;
}
.card-img-top{
    width:50%;
    border-radius: 0px;
}
/* #show-more-btn{
    display:none;
} */